django>=4.2
django-countries>=2.1.2
django-crispy-forms>=2.0
django-internationalflavor>=0.4.0
django-localflavor>=5.0
django-model-utils>=2.0.3
django-money>=0.4.1
django-outputs>=4.0.0
django-pragmatic>=7.2.0
pytz>=2024.1
lxml>=4.9.0
psycopg2>=2.5.2
xlsxwriter>=3.0.0
py-moneyed>=0.5.0
six>=1.6.1
